.modal-dialog {
    max-width: 500px;
}
body {
    background-image: url('static/image/背景.png');
    background-size: cover; /* 确保背景图片覆盖整个页面 */
    background-repeat: no-repeat; /* 防止图片重复 */
    background-attachment: fixed; /* 背景固定，不随页面滚动 */
    background-position: center; /* 图片居中 */
}
